*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
  --ltolive:#808000;
  --darkolive: #63630d;
  --purple: #593261;
}

html {
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

h1 {
  color: var(--purple);
  font-size:3.8rem;
  text-align: center;
  margin: 0px auto;
  width: 100vw;
  padding-bottom: 10px;
}

p {
  color: var(--ltolive);
  font-size: 2.5rem;
  text-align: center;
  margin: 0px auto;
  width: 100vw;
}

.errorMessage{
  font-size: 2.5rem;
  margin: 20px 0px 0px 0px;
  color:var(--purple)
}

.greatDay{
  margin-top: 20px;
  font-size: 2rem;
  color:var(--purple)

}

body {
  background-color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.weatherModules {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.weatherText {
  width: 33.3%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--ltolive);
}

.moduleRain,
.moduleWind,
.moduleTemp {
  padding: 0px;
  width: 300px;
  height: 80px;
  margin: 10px auto;

  border: 5px solid var(--darkolive);
  border-radius: 7px;

  color: var(--ltolive);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5em;

}

/* .moduleRain {
  background-image: url(./weather-app-icons-and-images/cloudsun-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */

.loadingtext {
  font-size: 2rem;
  color: var(--ltolive);
}

input {
  width: 300px;
  height: 75px;
  text-align: center;
  font-size: 3rem;

  border: 9px solid;
  border-color: var(--darkolive);
  border-radius: 7px;

  margin: 20px 0px 0px 0px;
  outline: none;
  background-color: none;
  box-shadow: 0px 0px 8px 1px;

  color: var(--darkolive);
  font-family: inherit;

  background-color: #fff;
  transition: border-color 400ms, background-color 400ms;
}

input:hover {
  background-color: olive;
  border-color: var(--purple);
  color: #fff;
}

button {
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  font-family: inherit;

  margin: 20px 0px 20px 0px;

  border: 5px solid var(--darkolive);
  border-radius: 7px;

  background-color: #fff;

  box-shadow: 0px 0px 8px 1px;
  color: olive;

  transition: border-color 100ms, background-color 100ms;
}

button:hover {
  background-color: olive;
  border-color: var(--purple);
  color: #fff;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
